body {
	background-color: ;
	font-family: serif;
}

.border {
	border: outset;
	box-shadow: 5px 5px 20px gray;
	box-sizing: content-box;
	padding: 20px;
	width: 450px;
}

.within{
	border: solid 1px #ccc;
	padding: 20px;
	width: 390px;
}

.bold {
	font-weight: bold;
}

ul{
	list-style-type: none;
}
img.dolphin {
width: 430px;
height: 310px;
padding: 0px 0px 20px 0px;
}

.interesting {
	font-style: italic;
}